<template>
    <div>
        <form class="flex" @submit.prevent="submit">
            <div class="mr-3">
                <img :src="$user.avatar" class="w-12 rounded-full">
            </div>
            <div class="flex-grow">
                <textarea
                    class="bg-gray-900 w-full outline-none text-gray-300 resize-none mb-2"
                    placeholder="What's happening?"
                    autofocus
                    v-model="form.body"
                ></textarea>

                <div class="flex justify-between">
                    <div>
                        actions
                    </div>
                    <div>
                        <button
                        type="submit"
                        class="bg-blue-500 rounded-full text-gray-300 text-center px-4 py-3 font-bold leading-none"
                        >
                            Tweet
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>

    import axios from 'axios'

    export default {
        data() {
            return {
                form: {
                    body: ''
                }
            }
        },
        methods: {
            async submit() {
                return axios.post('/api/tweets', this.form)
            }
        }
    }
</script>
